@font-face {
  font-family: 'Hui';
  src: url("../font/HuiFont29.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.info-container {
  padding: 100px 0 100px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../common/images/info-bg.jpg);
  background-attachment: fixed;
}

.info-text_box {
  width: 100%;
  height: 321px;
  margin: 50px auto 0;
  padding: 40px 18px 40px 40px;
  border-radius: 15px;
  border: solid 5px #707070;
  background-color: #fff;
}

.about-container {
  padding: 100px 0 100px 0;
}

.about-item2 .media-ttl {
  color: #626006;
}

.about-item2::before {
  background: #626006;
  left: -30px;
}

.about-item2 .media-btn {
  border: solid 2px #626006;
  color: #626006;
}

.about-item3 .media-ttl {
  color: #647311;
}

.about-item3::before {
  background: #647311;
}

.about-item3 .media-btn {
  border: solid 2px #647311;
  color: #626006;
}

.about-item4 .media-ttl {
  color: #093c00;
}

.about-item4::before {
  background: #093c00;
  left: -30px;
}

.about-item4 .media-btn {
  border: solid 2px #093c00;
  color: #093c00;
}

.blog-container {
  padding: 100px 0 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../common/images/blog-bg.jpg);
  background-attachment: fixed;
  height: 747px;
}

.access-container {
  padding: 100px 0 100px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../common/images/access-bg.jpg);
  background-attachment: fixed;
}

.access-list {
  background: #fff;
  display: inline-block;
  padding: clamp(12px, 2.08333vw, 20px) clamp(12px, 10.41667vw, 100px) clamp(12px, 5.20833vw, 50px) clamp(12px, 20.83333vw, 200px);
  max-width: 590px;
  max-height: 435px;
  text-align: left;
}

.access-list dt {
  font-size: clamp(20px, 3.125vw, 30px);
  color: #647311;
  margin-top: 30px;
}

.access-list dt:nth-of-type(2) {
  color: #647311;
}

.access-list dt:nth-of-type(3) {
  color: #bab605;
}

.access-list dd {
  font-size: clamp(16px, 2.08333vw, 20px);
  margin-top: 15px;
}

.access-text {
  text-align: left;
  font-size: 16px;
  width: 80%;
  margin: 40px auto 0;
}

.clip-box {
  position: relative;
  text-align: right;
  margin-top: 80px;
  z-index: 1;
}

.clip-box img {
  position: absolute;
  width: 50%;
  left: 0;
  top: 10%;
  -webkit-transform: translate(-50px, 0);
          transform: translate(-50px, 0);
}

.clip-box img.active {
  position: absolute;
  z-index: 10;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.clip-box .btn {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #647311;
  border: 2px solid #647311;
}

.clip-box .btn span::before {
  background: #647311;
}

.job-container {
  padding: 100px 0 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../common/images/info-bg.jpg);
  background-attachment: fixed;
}

.job-container .job-ttl {
  color: #fff;
  font-size: 42px;
}

.job-container .text {
  color: #fff;
  line-height: 1.5;
  text-align: left;
  margin: 30px 0;
}

.job-container .btn {
  color: #fff;
  border: 2px solid #fff;
  margin-top: 0;
}

.job-container .btn span::before {
  background: #fff;
}

.job-container .btn:hover span {
  color: #647311;
}

.job-text_box {
  width: 100%;
  height: 321px;
  margin: 50px auto 0;
  padding: 40px 18px 40px 40px;
  border-radius: 15px;
  border: solid 5px #707070;
  background-color: #fff;
}

.job-text-area {
  width: 45%;
}

.job-item {
  height: 422px;
  background: #bab601;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  left: -100%;
}

.job-item:nth-of-type(2) {
  background: #626006;
}

.job-item:nth-of-type(3) {
  background: #647311;
}

.job-item:nth-of-type(4) {
  background: #093c00;
}

.job-item .ly-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.job-item::before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background: #fff;
}

.job-item.active {
  left: 0;
}

.job-item.active::before {
  -webkit-transition: all 0.4s 0.7s ease;
  transition: all 0.4s 0.7s ease;
  left: 100%;
}

.job-img {
  position: absolute;
  right: 0;
  top: 0;
  width: 50vw;
  height: 422px;
  border-radius: 100px 0 0 300px;
  z-index: 10;
  -o-object-fit: cover;
     object-fit: cover;
}

.job-item_re {
  left: 100%;
}

.job-item_re .job-img {
  right: inherit;
  left: 0;
  border-radius: 0 300px 100px 0;
}

.job-item_re .ly-container {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.job-item_re.active::before {
  left: -100%;
}

.link-container {
  padding: 160px 0 100px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../common/images/bg.png);
  background-attachment: fixed;
}

.link-container p.text {
  color: #0f4106;
  margin-top: 50px;
}

.link-list {
  margin-top: 40px;
}

.link-item {
  width: 47%;
  margin-bottom: 40px;
}

.link-item a {
  display: block;
  width: 100%;
  height: 181px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 15px 10px 15px 15px;
  border-radius: 20px;
}

.link-item img {
  width: 45%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.link-item span {
  display: block;
  color: #fff;
}

.link-item:nth-of-type(1) a, .link-item:nth-of-type(5) a {
  background: #bab605;
}

.link-item:nth-of-type(2) a, .link-item:nth-of-type(6) a {
  background: #626006;
}

.link-item:nth-of-type(3) a, .link-item:nth-of-type(7) a {
  background: #647311;
}

.link-item:nth-of-type(4) a, .link-item:nth-of-type(8) a {
  background: #093c01;
}

.link-text-box {
  padding-left: 15px;
}

.link-ttl {
  font-size: 25px;
  margin-bottom: 10px;
}

.link-btn {
  font-size: 20px;
  position: absolute;
  bottom: 15px;
  right: 40px;
}

.link-btn::before {
  position: absolute;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  background: #fff;
  top: 45%;
  -webkit-transform: translateY(-50%) rotate(30deg);
          transform: translateY(-50%) rotate(30deg);
  right: -20px;
}

.link-btn::after {
  position: absolute;
  display: block;
  content: "";
  width: 20px;
  height: 2px;
  background: #fff;
  top: 57%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -20px;
}
/*# sourceMappingURL=index.css.map */