@charset "UTF-8";
@font-face {
  font-family: 'Hui';
  src: url("../font/HuiFont29.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*========= 流体シェイプを動かす ===============*/
.fluid {
  position: relative;
}

.fluid-wrap {
  width: 100%;
  overflow: hidden;
}

.fluid::before {
  z-index: -1;
  content: "";
  position: absolute;
  display: block;
  width: 31.25vw;
  /*横幅*/
  height: 31.25vw;
  /*縦幅*/
  background: #bab601;
  -webkit-animation: fluidrotate 10s ease  infinite;
          animation: fluidrotate 10s ease  infinite;
  /*アニメーションの設定*/
  right: -50px;
  top: -200px;
}

@media (max-width: 750px) {
  .fluid::before {
    width: 80vw;
    height: 66.66667vw;
    top: inherit;
    bottom: -50px;
  }
}

.fluid2 {
  display: block;
  -webkit-animation: fluidrotate2 20s ease infinite;
          animation: fluidrotate2 20s ease infinite;
  /*アニメーションの設定*/
  right: -50px;
  top: 100px;
}

@-webkit-keyframes fluidrotate {
  0%, 100% {
    border-radius: 50% 50% 52% 48% / 34% 60% 40% 66%;
  }
  25% {
    border-radius: 50% 50% 73% 27% / 11% 44% 56% 89%;
  }
  50% {
    border-radius: 47% 53% 47% 53% / 49% 44% 56% 51%;
  }
  75% {
    border-radius: 25% 75% 78% 22% / 49% 44% 56% 51%;
  }
}

@keyframes fluidrotate {
  0%, 100% {
    border-radius: 50% 50% 52% 48% / 34% 60% 40% 66%;
  }
  25% {
    border-radius: 50% 50% 73% 27% / 11% 44% 56% 89%;
  }
  50% {
    border-radius: 47% 53% 47% 53% / 49% 44% 56% 51%;
  }
  75% {
    border-radius: 25% 75% 78% 22% / 49% 44% 56% 51%;
  }
}

@-webkit-keyframes fluidrotate2 {
  0%, 100% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  25% {
    border-radius: 91% 9% 70% 30% / 30% 84% 16% 70%;
  }
  50% {
    border-radius: 91% 9% 50% 50% / 52% 84% 16% 48%;
  }
  75% {
    border-radius: 11% 89% 8% 92% / 87% 16% 84% 13%;
  }
}

@keyframes fluidrotate2 {
  0%, 100% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  25% {
    border-radius: 91% 9% 70% 30% / 30% 84% 16% 70%;
  }
  50% {
    border-radius: 91% 9% 50% 50% / 52% 84% 16% 48%;
  }
  75% {
    border-radius: 11% 89% 8% 92% / 87% 16% 84% 13%;
  }
}

.anm-slide_left {
  position: relative;
  -webkit-transition: all 1s  ease-out;
  transition: all 1s  ease-out;
  opacity: 0;
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
}

.anm-slide_left.active {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.anm-slide_right {
  position: relative;
  -webkit-transition: all 1s  ease-out;
  transition: all 1s  ease-out;
  opacity: 0;
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
}

.anm-slide_right.active {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.anm-slide_top {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.anm-slide_top.active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.anm-slide_bottom {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  opacity: 0;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

.anm-slide_bottom.active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.anm-slide_bottom-right {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  opacity: 0;
  -webkit-transform: translate(40px, -40px);
          transform: translate(40px, -40px);
}

.anm-slide_bottom-right.active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.anm-slide_bottom-left {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  opacity: 0;
  -webkit-transform: translate(-40px, -40px);
          transform: translate(-40px, -40px);
}

.anm-slide_bottom-left.active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.anm-slide_top-left {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  opacity: 0;
  -webkit-transform: translate(-40px, 40px);
          transform: translate(-40px, 40px);
}

.anm-slide_top-left.active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.anm-slide_top-right {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  opacity: 0;
  -webkit-transform: translate(40px, 40px);
          transform: translate(40px, 40px);
}

.anm-slide_top-right.active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

/*========= レイアウトのためのCSS ===============*/
.anm_blur {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-filter: blur(15px);
          filter: blur(15px);
  opacity: 0;
}

.anm_blur.active {
  -webkit-filter: blur(0);
          filter: blur(0);
  opacity: 1;
}

@-webkit-keyframes blurAnime {
  from {
    -webkit-filter: blur(190px);
            filter: blur(190px);
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    opacity: 0;
  }
  to {
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes blurAnime {
  from {
    -webkit-filter: blur(190px);
            filter: blur(190px);
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    opacity: 0;
  }
  to {
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.anm_time1 {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.anm_l1 {
  -webkit-transition: all 1.5s 0.5s ease;
  transition: all 1.5s 0.5s ease;
}

.anm_ls1 {
  -webkit-transition: all 1.5s 0.2s ease;
  transition: all 1.5s 0.2s ease;
}

.anm_time2 {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.anm_l2 {
  -webkit-transition: all 1.5s 1s ease;
  transition: all 1.5s 1s ease;
}

.anm_ls2 {
  -webkit-transition: all 1.5s 0.4s ease;
  transition: all 1.5s 0.4s ease;
}

.anm_time3 {
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
}

.anm_l3 {
  -webkit-transition: all 1.5s 1.5s ease;
  transition: all 1.5s 1.5s ease;
}

.anm_ls3 {
  -webkit-transition: all 1.5s 0.6s ease;
  transition: all 1.5s 0.6s ease;
}

.anm_time4 {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.anm_l4 {
  -webkit-transition: all 1.5s 2s ease;
  transition: all 1.5s 2s ease;
}

.anm_ls4 {
  -webkit-transition: all 1.5s 0.8s ease;
  transition: all 1.5s 0.8s ease;
}

.anm_time5 {
  -webkit-transition: all 2.5s ease;
  transition: all 2.5s ease;
}

.anm_l5 {
  -webkit-transition: all 1.5s 2.5s ease;
  transition: all 1.5s 2.5s ease;
}

.anm_ls5 {
  -webkit-transition: all 1.5s 1s ease;
  transition: all 1.5s 1s ease;
}
/*# sourceMappingURL=anime.css.map */